@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

img {
  width: 100%;
}

.main-section {
  display: flex;
}

.container {
  padding: 3rem 5rem 0rem 9rem;
  width: 100%;
  margin-left: auto;
  margin-bottom: auto;
}

.top {
  width: 200px;
}

*/ .logo {
  width: 100%;
  margin: 2.5rem;
  margin-left: 0;
}
.left {
  flex: 2;
}

.right {
  flex: 1;
}

.main-text {
  width: 50%;
  line-height: 29px;
}

.were-text {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

.were-text,
h1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  margin: 0;
  font-size: 4rem;
}

.right-image {
  width: 100%;
}

p,
span {
  color: hsl(0, 36%, 70%);
}
.mobile-image {
  display: none;
}

#email {
  display: flex;
  width: 100%;
}

input {
  height: 3rem;
  border: 2px solid hsl(0, 36%, 70%);
  border-radius: 50px;
  width: 55%;
  font-family: "Josefin Sans", sans-serif;
  font: 1.2em;
  padding: 1.5em;
}
input:focus {
  outline: none;
}
input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}
button {
  margin-left: -5rem;
  height: 3.5rem;
  border: none;
  border-radius: 30px;
  width: 5rem;
  background-color: hsl(0, 36%, 70%);
}

@media only screen and (max-width: 600px) {
  .main-section {
    flex-direction: column-reverse;
  }
  .mobile-image {
    display: block;
  }
  .logo {
    margin: 23px 0;
    margin-left: 1.5rem;
  }
  .right-image {
    display: none;
  }
  .container {
    text-align: center;
    padding: 0;
  }
  .main-text {
    width: 100%;
  }
  .info {
    padding: 2.5rem;
  }
  input {
    width: 70%;
    margin-left: 6rem;
  }





}
